.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  width: 50%;
  min-width: 200px;
}

.claim-book-error {
  color: red;
}

@media screen and (max-width: 850px) {
  .form-container {
    display: flex;
    justify-content: center;
  }

  .message {
    text-align: center;
  }
}
