.book {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(141, 141, 141, 0.5);
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    width: 400px;
    min-height: 350px;
}

.book img {
    border-radius: 8px;
    height: 140px;
    max-width: 390px;
}

.book-summary-info {
    max-height: 170px;
    overflow-y: auto;
}

.book-summary-text {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .book {
        width: 350px;
    }
}