.all-books {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 80px;
    justify-content: center;
}
.nav {
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 850px){
    .all-books {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 850px){
    .all-books img {
        max-height: 50vh;
    }
}

@media screen and (max-width: 600px){
    .all-books {
        padding: 10px;

    }
}