.detail-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    color: white;
    background-color: rgba(141, 141, 141, 0.5);
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
    box-shadow: 2px 2px 5px black;
}
.detail-container-text{
    margin-top: 5vh;
}
@media screen and (max-width: 1090px){
    .detail-container-image {
        margin-top: 2vh;
    }
}
@media screen and (max-width: 940px){
    .detail-container-image {
        margin-top: 5vh;
    }
}
@media screen and (max-width: 850px){ 
    .detail-container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 15px;
        padding: 5px;
    } 

    .detail-container h1 {
        padding: 0px;
    }
    .detail-container-text {
        margin-top: 0;
    }
} 
@media screen and (max-width: 850px){ 
    .detail-container-image { 
        max-height: 40vh;
    } 
}

.detail-container div {
    padding: 20px;
}

.detail-container h1 {
    margin-top: -20px;
}

.detail-container-image {
    border-radius: 8px;
    max-width: 100%;
    padding: 0 auto;
}