.detailContainer{
    display:grid;
    grid-template-columns: 1fr 3fr;
    /* max-height: 40%; */
    /* flex-direction: column; */
    color: white;
    background-color: red;
    border-radius: 15px;
    padding: 20px;
}

@media screen and (max-width: 850px){ 
    .detailContainer { 
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
} 
@media screen and (max-width: 850px){ 
    .detailContainerImage { 
        max-height: 30vh;
    } 
}

.detailContainer div {
    padding: 30px;
}

.detailContainerImage {
    border-radius: 8px;
    max-width: 100%;
    padding: 0 auto;
    /* max-height: 80%; */
} 