@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Sometype+Mono&display=swap');
.app-container {
    font-family: 'Sometype Mono', monospace;;
    background-image: url(/src/assets/Background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}
